<app-navbar></app-navbar>

<section>
  <div id="hero">
    <h1>Human</h1>
    <h1>stories & ideas</h1>
    <p>A place to read, write, and deepen your understanding</p>
    
    <!-- Blog button with routerLink applied directly to the button -->
    <button routerLink="/readBlog" routerLinkActive="active" ariaCurrentWhenActive="page">Blogs</button>
    
    <!-- Magazines button, can be routed or left as a placeholder -->
    <button  routerLink="/magList" routerLinkActive="active" ariaCurrentWhenActive="page">Magazines</button>  
  </div>
<div id="img-container">
<img src="http://localhost:3000/uploads/blue.png" alt="">
</div>
  
</section>

