#blog-in{
  width: 70%;
  height: 100px;
  overflow: hidden;
}
button{
    height: 30px;
    width: 100px;
    
    background-color:rgb(13, 228, 120);
    color: rgb(15, 15, 15);
    border-radius: 40px;
  
  }
  button:hover{
    background-color:rgb(4, 255, 130);
  
  }
  #mng-container{
    display: flex;
    align-items: center;
    margin: auto;
    background-color:rgb(236, 238, 241) ;
    justify-content: space-around;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
  }